<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<form action="/landmarks/<%=@landmark.id%>" method="post">
    
    <label for="landmark_name">Landmark Name:</label>
    <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
    <br><br>
    <label for="landmark_year_completed">Landmark Year Completed:</label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
    <br><br>
    <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
