<h2>All Historical Landmarks</h2>

<!-- add content here -->
<table>
    <th>Name:</th>
    <th>Year Completed:</th>
    <tr>
        <%@landmarks.each do |landmark|%>
            <td align="center"><a href="landmarks/<%=landmark.id%>"><%=landmark.name%></a></td>
            
            <td align="center"><%=landmark.year_completed%></td>
            
        <%end%>
    </tr>
</table>
<a class="button" href="landmarks/new">Create New Landmark </a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
